* {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
$darkColor: #28293E;
$orangeColor: #EF6D58;

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.orange-text {
  color: $orangeColor;
  line-height: 32px;
}

.big-text {
  color: white;
  font-weight: 800;
  font-size: 60px;
}

.button {
  background-color: inherit;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: $darkColor;
  }
}

.button-orange {
  @extend .button;
  background-color: $orangeColor;

}

.header {
  background-color: $darkColor;
  color: white;
  padding: 20px 0;
  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &_img {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &_list {
    display: flex;
    gap: 150px;
    list-style-type: none;
  }
  &_list-item {
    cursor: pointer;
    transition: 0.6s;
    &:hover {
      transform: translateY(-2px);

    }
  }
}

.about {
  background-color: $darkColor;
  color: white;
  &_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0;
  }
  &_text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    &__item {
      width: 460px;
    }

  }
}